/* Coolors Exported Palette - coolors.co/45050c-eaebed-a71d31-f1f0cc-d5bf86 */

/* HSL */
$color1: hsla(353%, 86%, 15%, 1);
$color2: hsla(220%, 8%, 92%, 1);
$color3: hsla(351%, 70%, 38%, 1);
$color4: hsla(58%, 57%, 87%, 1);
$color5: hsla(43%, 48%, 68%, 1);

/* RGB */
$color1: rgba(69, 5, 12, 1);
$color2: rgba(234, 235, 237, 1);
$color3: rgba(167, 29, 49, 1);
$color4: rgba(241, 240, 204, 1);
$color5: rgba(213, 191, 134, 1);